<div id="sidenav">
    <img src="img/logo-full.png" class="logo">

    <ul>
        <li>
            <a href="/">
                <ion-icon name="grid"></ion-icon>
                Dashboard
            </a>
        </li>
        <li>
            <a>
                <ion-icon name="skull"></ion-icon>
                Enemies
            </a>
        </li>
        <li>
            <a>
                <ion-icon name="people"></ion-icon>
                Players
            </a>
        </li>
        <li>
            <a href="/spawn-areas">
                <ion-icon name="disc"></ion-icon>
                Spawn Areas
            </a>
        </li>
        <li>
            <a href="/map-view">
                <ion-icon name="map"></ion-icon>
                Map View
            </a>
        </li>

    </ul>

</div>