<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Soturi - Map View </title>
    <meta property="og:title" content="Map View"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://soturi.online/map-view"/>
    <meta property="og:image" content="https://soturi.online/img/thumbnail.png"/>
    <meta property="og:description" content="Soturi Online is the best RPG game out there!"/>
    <th:block th:replace="fragments/links"></th:block>
</head>

<body>
<main>
    <div th:replace="fragments/sidenav"></div>
    <div id="main-right">
        <div id="top-bar">
            <h1> Map View </h1>
            <div id="user-info">
                <div id="user-name-info">
                    <span id="username"> Gigachad </span>
                    <span id="role"> Admin </span>
                </div>
                <ion-icon name="person-circle" class="user-image"></ion-icon>
            </div>
        </div>
        <div id="map-wrapper">
            <div id="search-bar-wrapper">
                <div id="search-bar">
                    <ion-icon name="search"></ion-icon>
                    <input type="text" placeholder="Search map...">
                </div>
            </div>

            <div id="search-modal-wrapper">
                <div id="search-modal">
                    <div id="search-modal-header">
                        <h1> Search on the map </h1>
                        <span id="search-modal-close-icon">
                            <ion-icon name="close"></ion-icon>
                        </span>
                    </div>
                    <div id="search-bar-space"></div>
                    <div id="search-results">
                        <div class="search-result">
                            <div class="search-result-name">
                                <div class="search-result-icon">
                                    <ion-icon name="skull"> </ion-icon>
                                </div>
                                Mrówka
                            </div>
                            <div class="search-result-type">
                                Enemy lvl 1
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div id="map"></div>
        </div>
    </div>
</main>
</body>
<script src="/js/map-view.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>