html {
    font-family: "Noto Sans";
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}


body {
    height: 100vh;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

#top-bar {
    width: 100%;
    height: 50px;
    color: #eee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    background: rgb(229, 155, 233);
    background: -moz-linear-gradient(90deg, rgba(229, 155, 233, 1) 0%, rgba(134, 68, 162, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(229, 155, 233, 1) 0%, rgba(134, 68, 162, 1) 100%);
    background: linear-gradient(90deg, rgba(229, 155, 233, 1) 0%, rgba(134, 68, 162, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e59be9", endColorstr="#8644a2", GradientType=1);
}

#top-bar > h1 {
    font-weight: bold;
    font-size: 24px;
}

#user-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

#user-name-info {
    display: flex;
    flex-direction: column;
    text-align: right;
}

#username {
    font-weight: bold;
    font-size: 16px;
}

.user-image {
    font-size: 40px;
}

.nav-element {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.nav-element {
    text-decoration: none;
    color: #eee;
}

.nav-element:hover {
    background-color: #a45a70;
}

main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#main-right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#map-wrapper {
    height: 100%;
    position: relative;
}

#search-bar-wrapper {
    position: absolute;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
}

#search-modal-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-modal {
    height: 0;
    width: 300px;

    overflow: hidden;
    background: #fff;
    position: absolute;
    border-radius: 10px;
    z-index: 900;
    transition: all 0.4s ease;
    top: 20px;
}

#search-modal > * {
    opacity: 0;
    transition: opacity 0.4s ease;
}

#search-modal.active {
    top: -40px;
    height: 500px;
    width: 500px;
    padding: 20px;
}

#search-modal.active > * {
    opacity: 100%;
}

#search-modal-close-icon {
    cursor: pointer;
    font-size: 18px;
}

#search-modal-header {
    display: flex;
    justify-content: space-between;
}

#search-bar-space {
    height: 50px;
}

#search-filters {
    padding: 10px;
}

#search-results {
    border-top: 1px solid #666;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-result {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
}

.search-result:hover {
    background: #dddddd;
    cursor: pointer;
}

.search-result-icon {
    margin-right: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-result-name {
    display: flex;
    align-items: center;
}

.search-result-type {
    color: #666;
}

#search-bar input {
    outline: none;
    height: 100%;
    width: 100%;
}

#search-bar {
    margin-top: 10px;
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    gap: 5px;
    transition: width 0.4s ease;
}

#search-bar.active {
    width: 450px;
    background: rgba(255, 255, 255, 1);
}

#map {
    height: 100%;
}

#dashboard {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#sidenav {
    width: 200px;
    background-color: #FFF9FF;
    height: 100%;
}

#sidenav ul {
    display: flex;
    flex-direction: column;
}

#sidenav a {
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

#sidenav a:hover {
    color: #fff;
    background-color: #D38BDC;
    cursor: pointer;
}

.logo {
    padding: 10px;
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
}


.section-name {
    padding: 5px;
}

.sidenav-list li {
    padding: 5px 10px;
}

.sidenav-list li:hover {
    cursor: pointer;
    background-color: #dd8ea4;
}

.section-name {
    font-size: 16px;
}

#map {
    flex-grow: 1;
}

.btn {
    padding: 10px;
    border-radius: 10px;
}

.btn:hover {
    cursor: pointer;
}

.btn-primary {
    background: rgb(229, 155, 233);
    background: -moz-linear-gradient(90deg, rgba(229, 155, 233, 1) 0%, rgba(134, 68, 162, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(229, 155, 233, 1) 0%, rgba(134, 68, 162, 1) 100%);
    background: linear-gradient(90deg, rgba(229, 155, 233, 1) 0%, rgba(134, 68, 162, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e59be9", endColorstr="#8644a2", GradientType=1);
    color: #fff;
    font-weight: bold;
    transition: 0.4s ease all;
    padding: 10px;
    border-radius: 10px;
}

.btn-primary:hover {
    background: rgb(103,51,136);
    background: -moz-linear-gradient(90deg, rgba(103,51,136,1) 0%, rgba(103,51,136,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(103,51,136,1) 0%, rgba(103,51,136,1) 100%);
    background: linear-gradient(90deg, rgba(103,51,136,1) 0%, rgba(103,51,136,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#673388",endColorstr="#673388",GradientType=1);
}


