body {
    background: rgb(229, 155, 233);
    background: -moz-linear-gradient(135deg, rgba(229, 155, 233, 1) 0%, rgba(134, 68, 162, 1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(229, 155, 233, 1) 0%, rgba(134, 68, 162, 1) 100%);
    background: linear-gradient(135deg, rgba(229, 155, 233, 1) 0%, rgba(134, 68, 162, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e59be9", endColorstr="#8644a2", GradientType=1);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-area {
    background: #fff;
    border-radius: 10px;
    max-width: 1000px;
    max-height: 500px;
    display: flex;
    padding: 50px;
    gap: 30px;
    align-items: center;
}

#form-image {
    max-height: 300px;
    object-fit: scale-down;
}

#sign-in-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
}

.form-element {
    width: 300px;
}

#form-greeting {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.form-input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    width: 300px;
}

.form-input-wrapper {
    position: relative;
}

.form-input-wrapper > label {
    position: absolute;
    top: -10px;
    left: 10px;
    background: #fff;
    width: fit-content;
    padding: 0 5px;
}