<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="/static/website/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />

        <meta property="og:title" content="Soturi Online" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://soturi.online" />
        <meta
            property="og:image"
            content="https://soturi.online/static/website/img/thumbnail.png"
        />
        <meta
            property="og:description"
            content="Soturi Online is the best RPG game out there!"
        />

        <link
            rel="stylesheet"
            href="/static/website/css/common.css"
            type="text/css"
        />
        <link
            rel="stylesheet"
            href="/static/website/css/main.css"
            type="text/css"
        />

        <title>Soturi Online</title>
    </head>
    <body>
        <nav id="top-nav">
            <div id="links">
                <div th:if="${username != null}">
                    <a href="/dashboard" class="text-btn"> Dashboard </a>
                </div>
            </div>
            <div id="user">
                <div th:if="${username == null}">
                    <a href="/log-in" class="text-btn"> Log In </a>
                </div>
                <div th:if="${username != null}" id="username">
                    <div th:text=" 'Hello, ' + ${username} + '!'"></div>
                    <form action="/logout" method="POST">
                        <input
                            type="hidden"
                            th:name="${_csrf?.parameterName}"
                            th:value="${_csrf?.token}"
                        />
                        <input type="submit" value="Log Out" class="text-btn" />
                    </form>
                </div>
            </div>
        </nav>

        <div id="top-bar">
            <img src="/static/website/img/logo-full-white.png" id="logo" />
        </div>

        <main>
            <div id="slogan">
                <h1 id="main-slogan">
                    Go for a walk, <br id="main-slogan-br" />
                    fight monsters.
                </h1>
                <h2 id="secondary-slogan">Touch the grass while playing!</h2>
            </div>

            <div id="game-stats">
                <div class="game-stat">
                    <div class="stat-value">
                        <div th:text="${players}"></div>
                    </div>
                    <div class="stat-name">players</div>
                </div>

                <div class="game-stat">
                    <div class="stat-value">
                        <div th:text="${enemies}"></div>
                    </div>
                    <div class="stat-name">enemies</div>
                </div>

                <div class="game-stat">
                    <div class="stat-value">
                        <div th:text="${fights}"></div>
                    </div>
                    <div class="stat-name">fights</div>
                </div>
            </div>

            <div id="buttons">
                <!--
                <a href="/sign-up" class="btn-primary"> Sign Up for free </a>
                --->

                <a href="/static/app.apk" class="btn-primary">
                    Download the Game
                </a>
            </div>

            <div th:if="${username == null}">
                <div id="secondary-buttons">
                    <div class="text-light">already have an account?</div>
                    <a href="/log-in" class="text-btn larger-text"> Log In </a>
                </div>
            </div>
        </main>
    </body>
</html>
