body {
    height: 100vh;
    font-size: 14px;
    display: flex;
    flex-direction: column;

    color: #fff;
}

#top-bar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media screen and (max-width: 800px) {
    #main-slogan {
        font-size: 8vw;
    }
    #secondary-slogan {
        font-size: 4vw;
    }
    #buttons {
        flex-direction: column;
    }

    .btn-primary {
        padding: 10px;
        width: 60vw;
        font-size: 4vw;
    }
    .game-stat {
        width: 80px;
    }
    .stat-value {
        font-size: 18px;
    }
}

@media screen and (min-width: 800px) {
    #main-slogan-br {
        display: none;
    }
    #main-slogan {
        font-size: calc(min(4vw, 50px));
    }
    #secondary-slogan {
        font-size: calc(min(3vw, 40px));
    }

    #buttons {
        flex-direction: row;
    }

    .btn-primary {
        padding: 20px;
        width: 300px;
        width: calc(min(40vw, 300px));
        font-size: calc(min(3vw, 24px));
    }
    .game-stat {
        width: 120px;
    }
    .stat-value {
        font-size: 24px;
    }
}

#logo {
    max-height: 200px;
    max-width: 70vw;
}

#slogan {
    margin: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-slogan {
    font-weight: 800;
    text-align: center;
}

#secondary-slogan {
    font-weight: 200;
}

.text-light {
    font-weight: 200;
}

#game-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.game-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-value {
    font-weight: bold;
}

#username {
    display: flex;
    gap: 5px;
    flex-direction: row;
}
