@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: 14px;
    display: flex;
    flex-direction: column;

    background: rgba(60, 60, 60, 0.4) url("/website/img/background-large.png");
    background-size: cover;
    background-blend-mode: multiply;

    color: #fff;

    font-family: "Noto Sans";
}
#top-bar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
    #logo {
        width: 50vw;
        max-width: 400px;
    }

    #main-slogan {
        font-size: 8vw;
    }
    #secondary-slogan {
        font-size: 4vw;
    }
    #buttons {
        flex-direction: column;
    }

    .btn-primary {
        padding: 10px;
        width: 60vw;
        font-size: 4vw;
    }
}

@media screen and (min-width: 800px) {
    #logo {
        width: 40vw;
        max-width: 500px;
    }

    #main-slogan-br {
        display: none;
    }
    #slogan {
        margin: 60px;
    }
    #main-slogan {
        font-size: calc(min(4vw, 100px));
    }
    #secondary-slogan {
        font-size: calc(min(3vw, 60px));
    }

    #buttons {
        flex-direction: row;
    }

    .btn-primary {
        padding: 20px;
        width: 400px;
        width: calc(min(40vw, 400px));
        font-size: calc(min(3vw, 32px));
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-slogan {
    font-weight: 800;
    text-align: center;
}

#secondary-slogan {
    font-weight: 200;
}

#buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 60px;
}

.btn-primary {
    border: 2px solid #fff;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    color: #fff;
    text-align: center;
    font-weight: 600;
}

.btn-primary:hover {
    background: #fff;
    color: #aa2673;
}

#secondary-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.text-light {
    font-weight: 200;
}

.text-btn {
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

.text-btn:hover {
    color: #ccc;
}
